/*ALERT COM JAVASCRIPT*/
#mensagemCard {
    position: absolute;
    z-index: 3333;
    right: 15px;
    top: 40px;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
}

#mensagemCard h5.card-title {
    font-size: 1.1em;
    margin-bottom: .75rem;
}