*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    background-image: linear-gradient(to right, rgba(17, 235, 79, 0.678), rgba(16, 179, 26, 0.732));
}

.container{
    width: 100vw;
    height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.formuca{
    position: relative;
    width: 50vw;
    height: 65vh;
    margin: 50px 20px 0px 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.474),rgb(158, 158, 158));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(28, 28, 28);
}

h1{
    font-size: 2em;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 10px 10px 40px 10px;
}

p{
    font-size: 1.5em;
}

#form1{
    margin: 10px;
    font-size: 1.5vw;
}

#txtfrase{
    border: 2px solid rgb(236, 219, 219);
    border-radius: 6px;
    margin: 10px;
    text-align: center;
    font-size: 1.5vw;
}

#button{
    margin: 5px;
    padding: 4px;
    border: 1px solid rgb(190, 31, 31);
    border-radius: 10px;
    font-size: 2vw;
    background-color: darkgray;
    color: white;
}

#button:hover{
    cursor: pointer;
    color: rgb(190, 31, 31);
}

div.alert{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    color: white;
}
