*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 195, 255), rgb(0, 255, 157));
}

h1{
    text-align: center;
    align-items: center;
}

.formuca{
    width: 400px;
    height: 300px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(20, 241, 175),rgb(99, 108, 133));
    border: 5px red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px grey;
}
#txtfrase{
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px;
    text-align: center;
}

#button{
    margin: 5px;
    padding: 2px;
    border: 1px solid rgb(111, 0, 255);
    border-radius: 10px;

}

div.alert{
    text-align: center;
    margin: 10px;
}
